@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dosis:wght@200;400&family=Rajdhani:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap');

body {
/*    background: url(/resources/HEX.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}
    
.title {
    height: 100px;
    text-align: center;
    text-decoration:underline;
}

.box {
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
}


div {
    display: block;
}

.color-box {
    width: 100%;
}

.color-panel {
    display: inline-block;
    height: 100px;
    width: 200px;
    margin: 5px auto;
    font-family: 'Dosis', sans-serif;
}

.cream {
    background-color: #F5EDDC;
}

.gray {
    background-color: #CFD2CF;
}

.blue {
    background-color: #A2B5BB;
}

.red {
    background-color: #EB1D36
}

.label {
    text-align: center;
}

.hex {
    text-align: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.aboreto {
    font-family: 'Aboreto', sans-serif;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.rajdhani {
    font-family: 'Rajdhani', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.regular {
    font-weight: 400;
}

.font-box {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.font-text {
    display: inline-block;
    margin: 10px;

}

h1 {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Aboreto', sans-serif;
    display: block;
}

h2 {
    font-weight: 450;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 400;
    font-size: 16px,
}

p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;

}

li {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;

}


.attribute-box {
    margin: 10px;
    padding: 10px;
}

.list {
    list-style:square;
}

footer {
    margin: 5px;
    border: 2px solid black;
    background-color: #A2B5BB;
    color: white;
    text-align: center;
}